<h1>Lager</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">Bundhaken <input type="radio" name="optionsRadios" id="rbttn_Bundhaken" (click)="radioButtonOnClick('Bundhaken')" /></div>
        <div class="col-sm">Knöpfe <input type="radio" name="optionsRadios" id="rbttn_Knoepfe" (click)="radioButtonOnClick('Knoepfe')" /></div>
        <div class="col-sm">Nähseide <input type="radio" name="optionsRadios" id="rbttn_Naehseide" (click)="radioButtonOnClick('Naehseide')" /></div>
        <div class="col-sm">Rohwaren <input type="radio" name="optionsRadios" id="rbttn_Rohwaren" (click)="radioButtonOnClick('Rohwaren')" checked /></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm"><input type="text" (input)="filterBy('name');" id="txt_Name" placeholder="Suche nach Warengruppe..." size="40" /></div>
        <div class="col-sm"><input type="text" (input)="filterBy('color');" id="txt_Color" placeholder="Suche nach Nähseidenfarbe..." size="40" disabled /></div>
        <div class="col-sm"><input type="text" (input)="filterBy('strength');" id="txt_Strength" placeholder="Suche nach Stärke..." size="40" disabled /></div>
    </div>
</div>

<ng-template #popupDialog>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Menge auswaehlen:</div>
                <table class="card-body table table-hover table-bordered" id="selectedItemTable">
                    <thead class="thead-light"></thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <input type="number" id="removeDialogAmount" placeholder="Menge" size="20"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <button type="button" class="btn btn-secondary" placement="top"(click)="insertIntoWarehouse()">Einlagern</button>
                    <button type="button" class="btn btn-secondary" placement="top" (click)="outsourceFromWarehouse()">Auslagern</button>
                </div>
            </div>   
        </div>
    </div>
</ng-template>

<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Waren</div>
            <table class="card-body table table-hover table-bordered" id="warehouseitemtable">
                <thead class="thead-light"></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xl-12 text-xs-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <button type="button" class="btn btn-secondary" placement="top"(click)="showItemDialog()">Ein- und Auslagern</button>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>

